* {
    margin: 0;
    box-sizing: border-box;
    vertical-align: top
}

img {
    display: inline-block;
    width: 50px;
    height: auto;
}

button {
    display: inline-block;
    padding: 5px 2px 5px 2px;
    margin: 5px 10px;
}